<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{44.514614,-67.66288}</string>
	<string>{44.512581,-67.663118}</string>
	<string>{44.511564,-67.660979}</string>
	<string>{44.513089,-67.658602}</string>
	<string>{44.51597,-67.659315}</string>
	<string>{44.514614,-67.66288}</string>
</array>
</plist>
