<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>08223</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{39.228093,-74.686646}</string>
		<string>{39.22759,-74.686988}</string>
		<string>{39.223212,-74.681586}</string>
		<string>{39.223911,-74.68079}</string>
		<string>{39.227538,-74.685221}</string>
		<string>{39.228093,-74.686646}</string>
	</array>
</dict>
</dict>
</plist>
