<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>20240</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{38.895398,-77.043472}</string>
		<string>{38.893514,-77.043474}</string>
		<string>{38.893639,-77.041729}</string>
		<string>{38.895405,-77.041727}</string>
		<string>{38.895398,-77.043472}</string>
	</array>
</dict>
</dict>
</plist>
