<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>20427</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{38.902471,-77.048827}</string>
		<string>{38.902088,-77.048831}</string>
		<string>{38.901318,-77.046653}</string>
		<string>{38.902526,-77.046649}</string>
		<string>{38.902478,-77.046858}</string>
		<string>{38.902471,-77.048827}</string>
	</array>
</dict>
</dict>
</plist>
