<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>21252</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{39.396109,-76.611966}</string>
		<string>{39.394072,-76.610753}</string>
		<string>{39.392452,-76.611662}</string>
		<string>{39.389942,-76.605431}</string>
		<string>{39.392945,-76.604494}</string>
		<string>{39.394252,-76.604168}</string>
		<string>{39.395267,-76.603864}</string>
		<string>{39.397164,-76.606928}</string>
		<string>{39.396109,-76.611966}</string>
	</array>
</dict>
</dict>
</plist>
