<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>24931</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{37.870307,-80.58498}</string>
		<string>{37.86744,-80.584415}</string>
		<string>{37.870636,-80.580844}</string>
		<string>{37.872353,-80.5794}</string>
		<string>{37.873337,-80.580085}</string>
		<string>{37.873057,-80.580449}</string>
		<string>{37.871375,-80.582854}</string>
		<string>{37.870307,-80.58498}</string>
	</array>
</dict>
</dict>
</plist>
