<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>31406</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{31.990304,-81.13568}</string>
		<string>{31.989421,-81.135919}</string>
		<string>{31.988879,-81.134306}</string>
		<string>{31.989709,-81.133986}</string>
		<string>{31.989891,-81.134457}</string>
		<string>{31.990304,-81.13568}</string>
	</array>
</dict>
</dict>
</plist>
