<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{30.0552,-82.18773}</string>
	<string>{30.04845,-82.18823}</string>
	<string>{30.04843,-82.17148}</string>
	<string>{30.05867,-82.17846}</string>
	<string>{30.0626,-82.18113}</string>
	<string>{30.06119,-82.18275}</string>
	<string>{30.06158,-82.18718}</string>
	<string>{30.0552,-82.18773}</string>
</array>
</plist>
