<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{36.587324,-87.351176}</string>
	<string>{36.586148,-87.352611}</string>
	<string>{36.58573,-87.350954}</string>
	<string>{36.586006,-87.348954}</string>
	<string>{36.586961,-87.348914}</string>
	<string>{36.587324,-87.351176}</string>
</array>
</plist>
