<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>39443</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{31.90436,-89.14759}</string>
		<string>{31.90173,-89.14784}</string>
		<string>{31.901233,-89.147568}</string>
		<string>{31.90111,-89.147499}</string>
		<string>{31.902334,-89.146907}</string>
		<string>{31.907232,-89.144545}</string>
		<string>{31.90658,-89.14587}</string>
		<string>{31.90436,-89.14759}</string>
	</array>
</dict>
</dict>
</plist>
