<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>43434</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{41.695297,-83.445341}</string>
		<string>{41.690738,-83.445339}</string>
		<string>{41.690759,-83.444025}</string>
		<string>{41.695282,-83.44405}</string>
		<string>{41.695297,-83.445341}</string>
	</array>
</dict>
</dict>
</plist>
