<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{38.886543,-83.617875}</string>
	<string>{38.884685,-83.617848}</string>
	<string>{38.884413,-83.616183}</string>
	<string>{38.884576,-83.614922}</string>
	<string>{38.886382,-83.614748}</string>
	<string>{38.886543,-83.617875}</string>
</array>
</plist>
