<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>45732</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{39.550108,-82.023443}</string>
		<string>{39.54962,-82.022985}</string>
		<string>{39.551349,-82.021519}</string>
		<string>{39.551427,-82.02194}</string>
		<string>{39.551268,-82.022626}</string>
		<string>{39.550108,-82.023443}</string>
	</array>
</dict>
</dict>
</plist>
