<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>49426</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{42.888276,-85.816775}</string>
		<string>{42.88581,-85.816754}</string>
		<string>{42.885817,-85.815163}</string>
		<string>{42.886594,-85.814227}</string>
		<string>{42.888193,-85.816144}</string>
		<string>{42.888381,-85.815679}</string>
		<string>{42.888276,-85.816775}</string>
	</array>
</dict>
</dict>
</plist>
