<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>62226</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{38.509205,-90.008537}</string>
		<string>{38.50901,-90.009041}</string>
		<string>{38.508096,-90.006892}</string>
		<string>{38.508813,-90.005788}</string>
		<string>{38.509647,-90.006287}</string>
		<string>{38.509354,-90.008148}</string>
		<string>{38.509205,-90.008537}</string>
	</array>
</dict>
</dict>
</plist>
