<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>68438</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{40.62849,-96.748144}</string>
		<string>{40.624857,-96.748318}</string>
		<string>{40.62486,-96.746104}</string>
		<string>{40.624794,-96.741123}</string>
		<string>{40.627496,-96.74046}</string>
		<string>{40.628398,-96.741091}</string>
		<string>{40.62849,-96.748144}</string>
	</array>
</dict>
</dict>
</plist>
