<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>71670</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{33.77727,-91.28444}</string>
		<string>{33.77026,-91.28446}</string>
		<string>{33.77024,-91.282883}</string>
		<string>{33.77016,-91.27579}</string>
		<string>{33.77619,-91.27558}</string>
		<string>{33.77729,-91.27823}</string>
		<string>{33.77736,-91.28103}</string>
		<string>{33.77727,-91.28444}</string>
	</array>
</dict>
</dict>
</plist>
