<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>72921</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{35.57818,-94.184205}</string>
		<string>{35.57331,-94.18431}</string>
		<string>{35.575051,-94.179975}</string>
		<string>{35.574568,-94.174074}</string>
		<string>{35.574541,-94.173966}</string>
		<string>{35.57477,-94.173907}</string>
		<string>{35.577889,-94.174359}</string>
		<string>{35.57818,-94.184205}</string>
	</array>
</dict>
</dict>
</plist>
