<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>77545</key>
<dict>
	<key>boundary</key>
	<array>
		<string>{29.521143,-95.442762}</string>
		<string>{29.518712,-95.443444}</string>
		<string>{29.518763,-95.440916}</string>
		<string>{29.520413,-95.440434}</string>
		<string>{29.521183,-95.440225}</string>
		<string>{29.521143,-95.442762}</string>
	</array>
</dict>
</dict>
</plist>
